<a class="icon-google" target="_blank" href="{{googleCalendarUrl}}">Google Calendar</a>
<a class="icon-cal" target="_blank" href="{{iCalendarUrl}}">iCal Calendar</a>
<a class="icon-outlook" target="_blank" href="{{outlookCalendarUrl}}">Outlook Calendar</a>
